.section {
  display: flex;
  gap: 36px;
  align-items: flex-start;
  max-width: 996px;
  margin: 0;
  padding: 20px 0;
  position: relative;
  padding-left: 60px;
  min-height: 120px;
  /* padding-right: 20px; */
}

.section::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: transparent;
  background-image: linear-gradient(#8b5e34 60%, transparent 40%);
  background-size: 2px 23px;
  background-repeat: repeat-y;
}

.section::after {
  content: "";
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #4a2c0a;
  border-radius: 50%;
  z-index: 1;
}

.section.reverse {
  flex-direction: row-reverse;
}

.section img {
  max-width: 420px;
  height: auto;
  border-radius: 28px;
}

.textcontent {
  max-width: 510px;
}

.section.reverse .text-content {
  margin-left: 0;
  margin-right: 20px;
}

.textcontent > h2 {
  font-size: var(--heading3);
  color: var(--brown);
  margin-bottom: 24px;
  margin-top: 16px;
}

.textcontent > p {
  font-size: var(--bodysmall);
  color: var(--light-brown);
}
@media (min-width: 768px) {
  .section {
    background-image: none !important;
  }
  .arrow {
    display: none;
  }
}
@media (max-width: 768px) {
  .section {
    display: flex;
    width: 345px;
    height: auto;
    min-height: 256px;
    padding: 0px 14px 16px 14px;
    /* align-items: flex-end; */
    gap: 56px;
    border-radius: 14px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 23.96%,
        #fff 44.27%
      ),
      url() lightgray 50% / cover no-repeat;

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .section::before {
    left: 15px;
    display: none;
  }

  .section::after {
    left: 8px;
    top: -20px;
    display: none;
  }

  .section img {
    max-width: 100%;
    margin-bottom: 20px;
    display: none;
  }

  .textcontent {
    height: min-content;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
  }

  .textcontent > h2 {
    font-size: var(--heading3mob);
    margin: 0;
  }

  .textcontent > p {
    font-size: var(--bodysmallmob);
    margin: 0;
  }
  .arrow {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .arrow:last-child {
    display: none;
  }
}
