.card {
  width: 512px;
  border: 2px solid var(--light-brown);
  content: "";
  border-radius: 12px;
  gap: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 26px 36px;
}
.card > span {
  font-size: var(--heading3);
  color: var(--brown);
}
.card > p {
  font-size: var(--bodysmall);
  color: var(--almost-black);
  margin: 0px;
}
@media (max-width: 768px) {
  .card {
    width: 345px;
    gap: 24px;
  }
  .card > span {
    font-size: var(--heading3mob);
  }
  .card > p {
    font-size: var(--bodysmallmob);
  }
}
