.whysection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.whysection > span {
  font-size: var(--heading2);
  color: var(--dark-brown);
  text-align: center;
}
.whysection > p {
  font-size: var(--bodylarge);
  text-align: center;
  color: var(--light-brown);
}
@media (max-width: 768px) {
  .whysection {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .whysection > span {
    font-size: var(--heading2mob);
  }

  .whysection > p {
    font-size: var(--bodysmallmob);
  }
}
