body {
  margin: 0;
  padding: 0;
  background: var(--white);
  background-image: url("/light-coffee-pattern.png");
  background-repeat: repeat;
  background-size: 150px;
}
:root {
  /* colors  */
  --white: #ffffff;
  --almost-white: #d9d9d9;
  --blue: #009ded;
  --orange: #d08875;
  --light-brown: #a38c77;
  --brown: #645443;
  --dark-brown: #433839;
  --almost-black: #1e1e1e;
  --black: #000000;

  /* animations and transitions */
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
* {
  box-sizing: border-box;
}
.bigboody {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .bigboody {
    margin-top: 114px;
  }
}
