.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}
.heroimage {
  height: 27vw;
  /* width: 400px; */
  width: auto;
}
.herotagline {
  letter-spacing: 3px;
  word-spacing: 10px;
  /* font-size: 45px; */
  font-size: 3vw;
  text-align: right;
  color: var(--brown);
}
.coffee {
  /* font-size: 55px; */
  font-size: 4vw;
  color: var(--orange);
}
.home {
  /* font-size: 55px; */
  font-size: 4vw;
  color: var(--light-brown);
}
.page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page > section {
  width: 85%;
}
.clouds {
  /* width: 100vw; */
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-top: -12%;
  margin-bottom: -8%;
  /* z-index: -100; */
}

.cloudleft {
  /* z-index: -100; */
  margin-left: -20%;
  width: 70%;
  /* width: 741px; */
  height: auto;
  /* animation: motion 6s infinite ease-in-out; */
}

.cloudright {
  margin-right: -20%;
  width: 70%;
  /* width: 741px; */
  height: auto;
  /* animation: motion 5s infinite ease-in-out; */
}
.arrowcontainer {
  /* z-index: -1; */
  /* left: 50%; */
  width: 100%;

  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.arrowlink {
  z-index: 1;
  cursor: pointer;
}
.arrows {
  width: 5vw;
}
.heromobile {
  display: none;
}
.upperarrow {
  animation: motion 2s infinite ease-in-out;
}
.heroimagemobile {
  height: auto;
  width: 78vw;
}
@keyframes motion {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.dashedline {
  border: none;
  height: 2px;
  background: var(--light-brown);
  background: repeating-linear-gradient(
    90deg,
    var(--light-brown),
    var(--light-brown) 15px,
    transparent 6px,
    transparent 24px
  );
}

.infocardcont > span {
  font-size: var(--heading2);
  color: var(--dark-brown);
  text-align: center;
}
.infocardcont > span {
  margin-bottom: 75px;
}
.infocardcont {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .infocardcont > span {
    font-size: var(--heading2mob);
  }
  .infocardcont {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .infocardcont > span {
    margin-bottom: 24px;
  }
  .hero {
    display: none;
  }
  .heromobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .coffee {
    font-size: 10vw;
  }
  .home {
    font-size: 8vw;
  }
  .herotagline {
    display: flex;
    flex-direction: column;
    height: min-content;
    letter-spacing: normal;
    align-items: center;
    font-size: 6vw;
    word-spacing: 2px;
  }
  .cloudleft {
    /* width: 1000vw; */
    width: auto;
    height: 70vw;
    margin-left: -60%;
    /* margin-top: -45%; */
  }
  .cloudright {
    margin-right: -200%;
    width: auto;
    /* margin-top: -45%; */
    height: 70vw;
    width: auto;
  }
  .arrows {
    width: 20vw;
  }
}
.cloudleft,
.cloudright {
  transition: transform 0.3s ease-out;
}
