.infocardcont > span {
  font-size: var(--heading2);
  color: var(--dark-brown);
  text-align: center;
}
.infocardcont > span {
  margin-bottom: 75px;
}
.infocardcont {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .infocardcont > span {
    font-size: var(--heading2mob);
  }
  .infocardcont {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .infocardcont > span {
    margin-bottom: 24px;
  }
}
