hr {
	width: 80vw;
	border-top: 0.2vw dashed var(--dark-brown);
}

.about-head {
	text-align: center;
	color: var(--dark-brown);
}

.about-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-para {
	width: 60vw;
	text-align: center;
	color: var(--lighter-brown);
}

.about-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5vw;
	margin-top: 3.8vw;
	margin-bottom: 5vw;
}
