/* This is the font-face declaration for the fonts used in the project */
/* This is a common file for all the pages */

@font-face {
	font-family: "Dela Gothic One";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "David Libre";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/DavidLibre-Regular.ttf") format("truetype");
}

/* Font sizes */
:root {
	--small-text: 16px;
	--text: 1.5vw;
	--smallest-head: 2vw;
	--small-head: 3vw;
	--head: 4.5vw;
	--navlinks: 2vw;
}

h1 {
	font-family: "Dela Gothic One", sans-serif;
	font-size: var(--head);
	margin: 0;
}

h2 {
	font-family: "Dela Gothic One", sans-serif;
	font-size: var(--small-head);
	margin: 0;
}

h3 {
	font-family: "Dela Gothic One", sans-serif;
	font-size: var(--smallest-head);
	margin: 0;
}

p {
	font-family: "David Libre", sans-serif;
	font-size: var(--text);
	margin: 0;
}
