.footer {
	display: flex;
	flex-direction: column;
}

.foot-logo-text {
	color: var(--almost-white);
}

.foot-logo-subtext {
	font-size: var(--small-text);
	color: var(--almost-white);
}

.foot-logo-text-container {
	margin-left: 6vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.foot-logo-container {
	display: flex;
	flex-direction: row;
}

.footer-inner-div {
	display: flex;
	flex-direction: row;
	height: 30vw;
	padding: 0px 58px 0px 36px;
	justify-content: space-between;
	align-items: center;
}

.foot-logo {
	height: 14vw;
}

.foot-link-group-header {
	margin-left: -0.4vw;
	color: var(--orange);
}

.foot-links {
	display: flex;
	flex-direction: row;
	gap: 8vw;
}

.foot-link-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
}

.foot-link {
	width: fit-content;
	color: var(--almost-white);

	&:hover {
		color: var(--twitter-blue);

		& > * {
			color: var(--almost-white) !important;
		}
	}

	&:after {
		background-color: var(--twitter-blue);
	}
}

.footnote {
	font-family: "David Libre", sans-serif;
	font-size: var(--small-text);
	color: var(--almost-white);
	margin: 0;
	text-align: center;
}

.footnote-container {
	padding: 1.8vw;
	display: flex;
	flex-direction: column;
	gap: 0.8vw;
	margin-bottom: 1.5vw;
	margin-top: 1.5vw;
	background: var(--light-brown);
}

.socialicons {
	margin-top: 0.8vw;
	display: flex;
	flex-direction: row;
	gap: 0.3vw;
}

.socialicon {
	height: 2.5vw;
}

.footline {
	height: 20vw;
}
