.hero {
	display: flex;
	margin-top: 100px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 155px;
}

.herotagline {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 75px;
	margin-left: -285px;
	text-align: right;
	color: var(--light-brown);
	width: 800px;
}

.heroimage {
	margin-right: -100%;
}

.clouds {
	width: 100vw;
	overflow: hidden;
	margin-top: -300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cloud-left {
	z-index: -1;
	transform: translate(-50px, -60px);
}

.arrowcontainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: -100px;
}

#upper_arrow {
	animation: motion 2s infinite ease-in-out;
}

@keyframes motion {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 4px);
	}
	100% {
		transform: translate(0, 0);
	}
}
