.hero {
	display: flex;
	margin-top: calc(max(100px, 10.5vw) + 100px);
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
}

.herotagline {
	text-align: right;
	color: var(--light-brown);
}

.heroimage {
	height: auto;
	width: 40vw;
}

.clouds {
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: -20%;
	animation: motion 6s infinite ease-in-out;
	margin-bottom: -8%;
}

.cloud-left {
	z-index: -1;
	width: 50vw;
}

.cloud-right {
	width: 50vw;
}

.arrowcontainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.arrowlink {
	z-index: 1;
	cursor: pointer;
}

.arrows {
	width: 6vw;
}

#upper_arrow {
	animation: motion 2s infinite ease-in-out;
}

@keyframes motion {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 4px);
	}
	100% {
		transform: translate(0, 0);
	}
}
