.journey-left {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 54px;
	color: var(--dark-brown);
	margin: 0;
}

.journey-right {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 54px;
	color: var(--lighter-brown);
	text-align: right;
	margin: 0;
}

.journeyheader {
	margin: -150px 100px 0 80px;
}

.journeyimage {
	height: 310px;
	width: 420px;
	border-radius: 28px;
	object-fit: cover;
}

.journeycard {
	display: flex;
	flex-direction: row;
	gap: 56px;
}

.journeytext {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 16px;
	width: 510px;
}

.journeytext-header,
h3 {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 36px;
	color: var(--light-brown);
	margin: 0;
}

.journeytext-para {
	font-family: "David Libre", sans-serif;
	font-size: 24px;
	color: var(--lighter-brown);
	margin: 0;
}

.journeycards {
	display: flex;
	flex-direction: column;
	gap: 82px;
}

.journeycard:nth-child(even) {
	direction: rtl;
}

.journeyline {
	margin-top: 166px;
	margin-bottom: 166px;
	display: flex;
	flex-direction: column;
	border-left: 2px dashed var(--light-brown);
	gap: 392px;
}

.journeyinfo {
	display: flex;
	flex-direction: row;
	gap: 54px;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 150px;
}

.dot {
	height: 30px;
	width: 30px;
	background-color: var(--lighter-brown);
	border-radius: 50%;
	display: inline-block;
	margin-left: -50%;
	margin-top: -100%;
}
