.journey-left {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 54px;
	color: var(--dark-brown);
	margin: 0;
}

.journey-right {
	font-family: "Dela Gothic One", sans-serif;
	font-size: 54px;
	color: var(--lighter-brown);
	text-align: right;
	margin: 0;
}

.journeyheader {
	margin: -150px 100px 0 80px;
}
