nav {
	top: 0;
	position: fixed;
	width: calc(100vw - 100px);
	height: max(100px, 10.5vw);
	display: flex;
	padding: 0 50px;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.46);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px); /* I hate safari :) [workaround for blur not working in safari - do not remove] */
	/* border-bottom: 1px dashed var(--almost-white); */
	z-index: 2;
}

.navlovo {
	height: auto;
	width: 8vw;
}

.navlinks {
	display: flex;
	flex-direction: row;
	gap: 3vw;
	list-style-type: none;
}
