.tweets {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5vw;
}

.tweetline {
	margin: 0;
	margin-bottom: -10vw;
	padding: 0;
	height: 14vw;
	z-index: -1;
}

.reviews-head {
	color: var(--dark-brown);
	text-align: center;
}

.tweet {
	z-index: -1;
	width: 40vw;
}

.tweetline:nth-child(2),
.tweetline:nth-child(6) {
	transform: translate(-20vw);
}
.tweetline:nth-child(4),
.tweetline:nth-child(8) {
	transform: translate(20vw);
}

.tweet:nth-child(1),
.tweet:nth-child(5) {
	transform: translate(-10vw);
}
.tweet:nth-child(3),
.tweet:nth-child(7) {
	transform: translate(10vw);
}

.reviews-para {
	margin-top: 14vw;
	text-align: center;
	color: var(--almost-black);
}
