/* This is the main stylesheet for the site. It is used by all pages. */

:root {
	/* Make vars for other team members to get consistent content */

	/* Colors */
	--orange: #d08875;
	--dark-brown: #433839;
	--light-brown: #645443;
	--lighter-brown: #a38c77;
	--almost-black: #1e1e1e;
	--almost-white: #d9d9d9;
	--white: #ffffff;
	--twitter-blue: #009ded;

	/* Animations & Transitions */
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
	margin: 0;
	padding: 0;
}

/* BG class for div backgrounds */
.light-pattern-bg {
	background: var(--white);
	background-image: url("/assets/Pattern.png");
	background-repeat: repeat;
	background-size: 150px;
}
.dark-pattern-bg {
	background: var(--dark-brown);
	background-image: url("/assets/Pattern Dark.png");
	background-repeat: repeat;
	background-size: 100px;
}

/* Classes for different spacings used in the website instead of using complicated margins on divs, this is easy to edit from one place later */
.spacing-large {
	width: 100%;
	height: 9.375vw;
}

.spacing-medium {
	width: 100%;
	height: 4.6875vw;
}

.spacing-small {
	width: 100%;
	height: 6.25vw;
}

.spacing-micro {
	width: 100%;
	height: 1.56vw;
}

iframe {
	border: none;
}

/* Link hover underline style inspired by https://paraswtf.com/ & http://paras.wtf/ */
.link-effect {
	font-size: var(--navlinks);
	font-family: "Dela Gothic One", sans-serif;
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	position: relative;
	transition: color var(--transition), width var(--transition);
	color: var(--light-brown);
	margin: 0px;

	&:hover {
		color: var(--dark-brown);
		outline: 0;

		&:after {
			width: 100%;
		}

		& > * {
			color: var(--light-brown) !important;
			transition: var(--transition);
		}
	}

	&:after {
		content: "";
		display: block;
		width: 0;
		height: 1px;
		position: relative;
		background-color: var(--dark-brown);
		transition: var(--transition);
		opacity: 0.5;
	}
}

.navspacer {
	margin-top: 150px;
}
