.sustainability-section {
	margin-top: 6vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	gap: 3vw;
}

.sustainability-head {
	text-align: center;
	color: var(--dark-brown);
}

.sustainability-para {
	width: 34vw;
	text-align: center;
	color: var(--almost-black);
}

.sustainability-svg {
	height: 35vw;
	margin-top: -35vw;
	z-index: -1;
	animation: breathe 5s ease-in-out infinite;
}

.mug-svg {
	height: 4vw;
}

@keyframes breathe {
	0% {
		transform: scale(1) rotate(4deg);
	}
	25% {
		transform: scale(1.04) rotate(-4deg);
	}
	75% {
		transform: scale(1.02) rotate(0deg);
	}
	100% {
		transform: scale(1) rotate(4deg);
	}
}
