.sustainability-section {
	margin-top: 300px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	gap: 56px;
}

.sustainability-para {
	width: 540px;
	text-align: center;
	color: var(--almost-black);
}

.sustainability-svg {
	margin-top: -90%;
	z-index: -1;
	animation: breathe 5s ease-in-out infinite;
}

@keyframes breathe {
	0% {
		transform: scale(1) rotate(4deg);
	}
	25% {
		transform: scale(1.04) rotate(-4deg);
	}
	75% {
		transform: scale(1.02) rotate(0deg);
	}
	100% {
		transform: scale(1) rotate(4deg);
	}
}
