.sustainability-section {
	margin-top: 300px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	gap: 56px;
}

.sustainability-para {
	width: 540px;
	text-align: center;
	color: var(--almost-black);
}

.sustainability-svg {
	margin-top: -90%;
	z-index: -1;
}
