.cont {
  background-color: #f5f5f5b2;
  position: fixed;
  backdrop-filter: blur(2px);
  width: 100%;
  top: 0;
  /* height: ; */
}
.navbar {
  /* -webkit-backdrop-filter: blur(2px); */
  /* backdrop-filter: blur(2px); */
  width: 100%;
  height: 150px;
  /* background-color: #f5f5f5b2; */
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px 40px;
  z-index: 10000;
  /* position: fixed; */
}
.navlinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.hamburger {
  width: 36px;
  height: 36px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.burg1,
.burg2,
.burg3 {
  /* height: 1px; */
  width: 30px;
  background-color: var(--dark-brown);
  border: solid 2px;
  border-color: var(--dark-brown);
  border-radius: 20px;
  transition: var(--transition);
}

.burg1.active {
  transform: translateY(10px) translateX(-4px) rotate(45deg);
}
.burg2.active {
  width: 0%;
  opacity: 0;
  /* transform: translateX(10px); */
}
.burg3.active {
  transform: translateY(-10px) translateX(-4px) rotate(-45deg);
}
.li {
  pointer-events: none;
  width: min-content;
  opacity: 0;
  transform: translateY(-15px);
  transition: 0.1s;
}
.hr {
  opacity: 0;
  transform: translateY(-15px);
  width: 0;
  /* border: none; */
  transition: 0.1s;
}
.navlinksvert {
  display: none;
}
@media (max-width: 768px) {
  .navlinksvert {
    /* background-color: #f5f5f5b2; */
    /* -webkit-backdrop-filter: blur(2px); */
    /* backdrop-filter: blur(2px); */
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 20px;
    width: 100%;
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navlinksvert.active {
    height: 295px;
    padding-top: 10px;
  }
  .li.active {
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
  }
  .hr.active {
    border: solid 3px #645443;
    border-radius: 20px;
    width: 25%;
    background-color: #645443;
    opacity: 25%;
  }
  .navbar {
    width: 100%;
    height: 94px;
    padding: 10px 20px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .navlinks {
    display: none;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .hamburger {
    display: flex;
  }
}
