.footer {
  width: 100%;
  height: auto;
  background-image: url("/dark-coffee-pattern.png");
  background-repeat: repeat;
  background-size: 90px;
  background-color: #433839;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infocont {
  margin: 20px 20px;
  margin-top: 0px;
  height: auto;
  padding: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* min-width: 800px; */
  /* max-width: 1200px; */
  width: clamp(600px, 100%, 1100px);
}
.linkinf {
  height: auto;
  width: min-content;
  min-width: 350px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* justify-content: space-between; */
}
.logoinfocont {
  height: 150px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* justify-content: space-between; */
  max-width: 500px;
  align-items: center;
}
.footlinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 4px;
}
.li {
  width: min-content;
}
.li > * {
  font-size: 18px !important;
}
.txtinf {
  height: 110px;
  /* width: 270px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.txttitle {
  color: var(--almost-white);
  font-size: 25px;
}
.txtdesc {
  font-size: 15px;
  color: var(--almost-white);
}
.icon {
  color: var(--almost-white);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: min-content;
  gap: 10px;
}
.dashedline {
  margin-left: 10px;
  margin-right: 20px;
  display: block;
  width: 2px;
  height: auto;
  background-image: linear-gradient(to bottom, #a38c77 55%, transparent 40%);
  background-position: center bottom;
  background-repeat: repeat-y;
  background-size: 2px 15px;
  opacity: 0.5;
}
.madeby {
  width: 100%;
  background-color: var(--orange);
  height: auto;
  color: var(--white);
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.linktitle {
  color: var(--orange);
  font-size: 26px;
}

@media (max-width: 768px) {
  .dashedline {
    display: none;
  }
  .linkinf {
    display: none;
  }
  .infocont {
    padding-top: 10px;
    justify-content: center;
    width: unset;
    margin: 10px 10px;
  }
  .logo {
    height: 100px;
    width: 100px;
  }
  .logoinfocont {
    width: auto;
    /* margin-left: 20px; */
    height: auto;
    /* margin-right: 20px; */
  }
}
