.bubblesection {
  display: flex;
  width: 702px;
  height: 612px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.bubblesection > span {
  color: var(--dark-brown);
  text-align: center;
  font-size: var(--heading2);
}
.p {
  color: var(--brown);
  font-size: var(--bodylarge);
  text-align: center;
  margin: 0px;
}
.bubble {
  position: absolute;
  z-index: -2;
  animation: breathe 5s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes breathe {
  0% {
    transform: scale(1) rotate(4deg);
  }
  25% {
    transform: scale(1.04) rotate(-4deg);
  }
  75% {
    transform: scale(1.02) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(4deg);
  }
}
.pmob {
  display: none;
  color: var(--brown);
  font-size: var(--bodylargemob);
  text-align: center;
  margin: 0px;
}
.papercup {
  animation: rotate 5s ease-in-out infinite;
}
@media (max-width: 768px) {
  .bubblesection {
    width: 373px;
    height: 333px;
    gap: 16px;
  }
  .bubblesection > span {
    font-size: var(--heading2mob);
  }
  .p {
    font-size: var(--bodylargemob);
    display: none;
  }
  .papercup {
    height: 50px;
  }
  .bubble {
    height: 314px;
    width: 355px;
  }
  .pmob {
    display: block;
    width: 303px;
  }
}
