.navlink {
  font-size: 26px;
  border: none;
  background-color: none;
  text-decoration: none;
  color: var(--brown);
  margin: 0;
  padding: 0;
  transition: var(--transition);

  &:hover {
    color: var(--dark-brown);
    outline: 0;

    &:after {
      width: 100%;
      background-color: var(--dark-brown);
    }
  }
}
.navlink::after {
  padding: 0;
  position: relative;
  display: block;
  content: "";
  margin: 0;
  background-color: var(--brown);
  height: 2px;
  width: 0%;
  border-radius: 200px;
  transition: 0.5s;
}
