.tweetscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -200px;
  margin-bottom: 75px;
}
.title {
  margin-top: 150px;
  text-align: center;
  font-size: var(--heading2);
  color: var(--dark-brown);
  margin-bottom: 75px;
}
.tweetimage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.dashedline {
  width: 3px;
  background: repeating-linear-gradient(
    to bottom,
    #b88a6c,
    #b88a6c 10px,
    transparent 10px,
    transparent 25px
  );
  margin: -20px;
}

.dashedline1 {
  height: 120px;
  margin-right: 400px;
}

.dashedline2 {
  height: 120px;
  margin-left: 830px;
}

.dashedline3 {
  height: 120px;
  margin-right: 400px;
}

.dashedline4 {
  height: 120px;
  margin-left: 830px;
}

.tweet1 {
  margin-left: 0px;
}

.tweet2 {
  margin-left: 430px;
}

.tweet3 {
  margin-left: 0px;
}

.tweet4 {
  margin-left: 430px;
}

@media (max-width: 768px) {
  .tweetscontainer {
    margin-left: 0px;
  }
  .title {
    font-size: var(--heading2mob);
    margin-bottom: 24px;
  }
  .tweet1,
  .tweet2,
  .tweet3,
  .tweet4 {
    margin-left: 0;
  }

  .dashedline1,
  .dashedline2,
  .dashedline3,
  .dashedline4 {
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    margin-top: -10px;
  }

  .tweetimage {
    margin-bottom: 10px;
    /* width: 90%; */
  }
}

@media (max-width: 480px) {
  .tweetimage {
    margin-bottom: 8px;
  }

  .dashedline {
    width: 2px;
  }

  .dashedline1,
  .dashedline2,
  .dashedline3,
  .dashedline4 {
    height: 80px;
  }
}
